<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}애니메타{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'css/build.css'|static }}" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/" class="logo"><img src="{{ 'img/animeta.gif'|static }}" alt="animeta"></a>
    </div>
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

<div class="footer">
    <a href="http://dittos.pe.kr/sapzil">지속 가능한 삽질</a>에서 만들고 돌립니다. /
    <a href="http://blog.animeta.net/">공식 블로그</a> /
    <a href="/support/">버그 신고 및 기능 건의</a> /
    <a href="http://github.com/dittos/animeta" target="_blank">Fork me on GitHub</a>
</div>

{% block js %}
{% endblock %}
</body>
</html>
