{% extends '_base.html' %}

{% from '_macros.html' import render_post %}

{% block content %}
<div class="page-home">
    <div class="popular-works">
        <h2 class="section-title">주간 작품 순위</h2>
        {% for item in work_chart %}
        <div class="chart-item">
            <div class="rank">{{ item.rank }}</div>
            <div class="object">
                <div class="title"><a href="{{ item.obj|work_url }}">{{ item.obj }}</a></div>
                <div class="score">
                    기록 {{ item.score }}건
                    {% if item.diff %}&middot; 전 주보다 {{ item.diff|abs }}위 {% if item.diff < 0 %}<span class="down">&darr;</span>{% else %}<span class="up">&uarr;</span>{% endif %}{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="detail">
            <a href="{{ url_for('chart.work', range='weekly') }}">자세히 보기</a>
        </div>
    </div>

    <div class="timeline">
        <h2 class="section-title">최근 감상평</h2>
        {% for post in timeline %}
            {{ render_post(post) }}
        {% endfor %}

        <a href="{{ url_for('timeline') }}" class="btn-block more">더 보기</a>
    </div>
</div>
{% endblock %}
