@import "grid.less";

@color_main: #4bb000;

.mixin-link-stealth {
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: @color_main;
            border-bottom: 1px dashed #aaa;
        }
    }
}

.mixin-bordered {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #eee;
    padding: 8px;
}


.btn-block {
    .mixin-bordered;
    display: block;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #eee;
    transition: 0.1s linear background-color;

    &:hover {
        background-color: #f8f8f8;
    }
}


a {
    color: @color_main;
}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.header {
    border-bottom: 1px solid @color_main;
}

.header-inner {
    .container;
    width: @total-width - @gutter-width;
    padding: 16px 0;
}

.content {
    .container;
    font-size: 14px;

    .nav {
        padding: 16px 0;
        overflow: hidden;
        line-height: 24px;
        h1 {
            font-size: 24px;
            float: left;
            margin: 0;
        }
        p {
            font-size: 14px;
            float: left;
            margin: 0 0 0 20px;
        }
    }

    h2 {
        clear: both;
        font-size: 20px;
        font-weight: normal;
    }
}

.footer {
    .container;
    width: @total-width - @gutter-width;
    padding: 32px 0;
    font-size: 13px;
    color: #666;

    a {
        text-decoration: none;
        color: #666;
        border-bottom: 1px solid #ccc;
    }
}

.page-home {
    padding-top: 16px;

    .popular-works {
        .column(6);
        .chart-item {
            margin-top: 16px;
        }
        .detail {
            margin-top: 16px;
        }
    }
    .timeline {
        .column(6);
        .timeline-post {
            margin-top: 16px;
        }
        .more {
            margin-top: 16px;
        }
    }

    .section-title {
        color: #999;
        letter-spacing: 6px;
        font-weight: normal;
        font-size: 15px;
        margin: 0;
    }
}

.chart-item {
    clear: both;
    overflow: hidden;

    .rank {
        font-size: 20px;
        font-weight: bold;
        float: left;
        color: #999;
        margin-right: 10px;
    }
    .object {
        float: left;
        .mixin-link-stealth;
    }
    .title {
        font-size: 16px;
        font-weight: bold;
    }
    .score {
        padding-top: 4px;
        color: #666;
    }
    .up { color: red; }
    .down { color: blue; }
}

.timeline-post {
    .mixin-bordered;

    .author {
        color: @color_main;
        font-weight: bold;
        padding-bottom: 2px;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .time {
        color: #999;
        font-weight: normal;
        font-size: 12px;
        padding-top: 2px;
        float: right;
    }
    .title {
        font-weight: bold;
        .mixin-link-stealth;
    }
    .body {
        margin: 0;
        padding-top: 10px;
        color: #444;
        background: #fff;
    }
}

.page-chart {
    .column(12);
}

.chart {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;

    td {
        border-bottom: 1px solid #ccc;
        padding: 8px 8px 8px 0;
    }

    .rank {
        font-weight: bold;
        color: #666;
    }
    .diff {
        color: #777;
        font-size: 12px;
        .up {
            color: blue;
        }
        .down {
            color: red;
        }
    }
    .name {
        .mixin-link-stealth;
    }
    .bar {
        min-width: 300px;

        div {
            background-color: #999;
            height: 8px;
        }
    }
    .score {
        color: #777;
        font-size: 12px;
    }
}

.page-work {
    .column(12);
    
    padding-top: 16px;

    .work-title {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    .episodes {
        a {
            color: #444;
        }

        .active {
            font-weight: bold;
            text-decoration: none;
            color: @color_main;
        }

        margin-top: 16px;
    }

    .timeline-post {
        margin-top: 16px;
    }
}

.page-timeline {
    .column(12);

    .timeline-post {
        margin-top: 16px;
    }

    .paging {
        margin-top: 16px;
        text-align: center;
        font-size: 20px;
        a {
            color: #999;
            text-decoration: none;
            padding: 5px;
            &:hover {
                color: @color_main;
            }
        }
        .active {
            color: @color_main;
            font-weight: bold;
        }
    }
}

.page-user {
    .column(12);
    
    padding-top: 16px;

    .username {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    .records {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        
        .item {
            padding: 3px 0;
            a {
                display: inline-block;
                padding: 7px;
                text-decoration: none;
                color: #959595;
                border-radius: 3px;
                &:hover {
                    background: #999;
                    color: #fff;
                }
            }
            .status {
                margin-left: 0.5em;
                font-weight: bold;
            }
        }
        .item-watching {
            .status {
                color: @color_main;
            }
            a {
                color: #000;
                font-weight: bold;
                &:hover {
                    background-color: #4bb000;
                    .status {
                        color: #fff;
                    }
                }
            }
        }
    }

    .record-title {
        .mixin-link-stealth;
    }

    .record-history {
        .timeline-post {
            margin-top: 16px;
        }
    }
}
