@import "grid.less";

@color_main: #4bb000;

a {
    color: @color_main;
}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.header {
    border-bottom: 1px solid @color_main;
}

.header-inner {
    .container;
    width: @total-width - @gutter-width;
    padding: 16px 0;
}

.content {
    .container;
    font-size: 14px;

    .nav {
        padding: 16px 0;
        overflow: hidden;
        line-height: 24px;
        h1 {
            font-size: 24px;
            float: left;
            margin: 0;
        }
        p {
            font-size: 14px;
            float: left;
            margin: 0 0 0 20px;
        }
    }

    h2 {
        clear: both;
        font-size: 20px;
        font-weight: normal;
    }
}

.footer {
    .container;
    width: @total-width - @gutter-width;
    padding: 32px 0;
    font-size: 13px;
    color: #666;

    a {
        text-decoration: none;
        color: #666;
        border-bottom: 1px solid #ccc;
    }
}

.page-home {
    padding-top: 16px;

    .popular-works {
        .column(6);
        .chart-item {
            margin-top: 16px;
        }
    }
    .timeline {
        .column(6);
        .timeline-post {
            margin-top: 16px;
        }
    }

    .section-title {
        color: #999;
        letter-spacing: 6px;
        font-weight: normal;
        font-size: 15px;
        margin: 0;
    }
}

.chart-item {
    clear: both;
    overflow: hidden;

    .rank {
        font-size: 20px;
        font-weight: bold;
        float: left;
        color: #999;
        margin-right: 10px;
    }
    .object {
        float: left;
    }
    .title {
        font-size: 16px;
        font-weight: bold;
    }
    .score {
        padding-top: 4px;
        color: #666;
    }
    .up { color: red; }
    .down { color: blue; }
}

.timeline-post {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #eee;
    padding: 8px;

    .author {
        color: @color_main;
        font-weight: bold;
        padding-bottom: 2px;
    }
    .time {
        color: #999;
        font-weight: normal;
        font-size: 12px;
        padding-top: 2px;
        float: right;
    }
    .title {
        font-weight: bold;
    }
    .body {
        margin: 0;
        padding-top: 10px;
        color: #444;
        background: #fff;
    }
}

.page-chart {
    .column(12);
}

.chart {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ccc;

    td {
        border-bottom: 1px solid #ccc;
        padding: 8px 8px 8px 0;
    }

    .rank {
        font-weight: bold;
        color: #666;
    }
    .diff {
        color: #777;
        font-size: 12px;
        .up {
            color: blue;
        }
        .down {
            color: red;
        }
    }
    .bar {
        min-width: 300px;

        div {
            background-color: #999;
            height: 8px;
        }
    }
    .score {
        color: #777;
        font-size: 12px;
    }
}

.page-work {
    .column(12);

    .work-title {
        font-size: 20px;
        font-weight: bold;
    }
}
